<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/l10n/es.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script> 
</head>

<!--Hace que htmx pase el CSRF Token-->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container d-flex align-items-center justify-content-center">
                <div class="card d-flex align-items-center justify-content-center">
                    <div class="card-body">
                        <h2>Seleccione un dia</h2 >
                        <hr>
                        <div class="d-flex align-items-center justify-content-center">
                            <div id="calendario" hx-trigger="change" hx-target="#table-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="table-body">
        {% include "dispo_table_fragment.html"%}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
    {% for m in messages %}
        <script>
            
            Swal.fire({
            icon: 'success',
            text: '{{m}}'
            })
            
        </script>
    {% endfor %}
    {% endif %}
    <script>
        flatpickr("#calendario", {
            dateFormat: "Y-m-d",
            inline: true,
            minDate: "today",
            enable: {{ fechas|safe }},
            locale: "es",
            onChange: function(selectedDates, dateStr, instance) {
                //there's nothing we can do.. no se pudo usar solamente htmx para conseguir el dia
                var fecha = selectedDates[0];
                var diaSeleccionadoParaUrl = fecha.toISOString().split('T')[0];
                // Update the href attribute of each link with the selected date

                var diaDeSemana = fecha.getDay();
                var nombreDia = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'];
                var diaSeleccionado = nombreDia[diaDeSemana];
    
                var xhr = new XMLHttpRequest();
                xhr.open("GET", '/getDisponibilidad/{{id}}/' + diaSeleccionado, true);
                xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}");
    
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.getElementById('table-body').innerHTML = xhr.responseText;
                        console.log('Updated hx-get:', '/getDisponibilidad/8/' + diaSeleccionado);

                        // Cambia el parte estatica del url del fragmento html (fecha) por la seleccionada en el calendario
                        document.querySelectorAll('.btn.btn-primary').forEach(function(link) {
                            link.href = link.href.replace('/fecha', '/' + diaSeleccionadoParaUrl );
                            console.log(link.href)
                });
                    }
                };
    
                xhr.send();

            }
        });
    </script>
    
    
</body>
</html>