{% extends "admin.html" %}
{% load static %}


{% block contenido %}
<div class="table">
    <table class="table table-striped">
      <thead>
        <tr class="table table-dark">
          <th scope="col">Nombre</th>
          <th scope="col">R.U.T</th>
          <th scope="col">Correo</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
  
      <tbody>
        
          {% for row in data%}
          <tr class="table table-default">
            <td>{{row.nombre}}</td>
            <td>{{row.run}}</td>
            <td>{{row.correo}}</td>
          <td>
            <div class="d-flex">
              <form action="{% url 'deshabilitar' row.run %}" method="POST"> 
                {% csrf_token %}
                <button id="estado" class="btn btn-danger" type="submit" >Deshabilitar</button> 
              </form>
            </div>
            
          </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock contenido %}