{% extends "admin.html" %}

{% block contenido %}
<div class="table">
    <table class="table table-striped">
      <thead>
        <tr class="table table-dark">
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
          {% for row in data%}
          <tr class="table table-default">
            <td>{{row.nombre}}</td>
            <td>{{row.run}}</td>
            <td>{{row.correo}}</td>
          <td>
            <a class="btn btn-primary me-2" href="#">Editar</a
            ><a class="btn btn-danger" href="#">Deshabilitar</a>
          </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock contenido %}


