<div class="row">
    {% for hora in info %}
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{hora.medico}}</h5>
            {% for disponiblidad_item in hora.disponibilidad %}
                <a href="/agregarHora/{{hora.medico}}/{{disponiblidad_item.hora_inicio}}/{{disponiblidad_item.hora_termino}}/fecha" hx-trigger="click" class="btn btn-primary">{{disponiblidad_item.hora_inicio}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>