{% extends "admin.html" %}


{% block contenido %}


{% load crispy_forms_tags %}


<div class="table">
    <div class="d-flex justify-content-center">
        <h1>Disponibilidad Medicos</h1>
    </div>
    <div class="card-body d-flex justify-content-end">
        <div class="card-body d-flex justify-content-end">
            <a href="{% url "medico" %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="table table-dark">
            <th scope="col">Medico</th>
            <th scope="col">Dia</th>
            <th scope="col">Hora inicio</th>
            <th scope="col">Hora termino</th>
            <th scope="col">Tiempo consulta</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
            </tr>
        </thead>
        
        <tbody>
            {% for row in data%}
            <tr class="table table-default">
            <td>{{row.run_medico}}</td>
            <td>{{row.dia_semana}}</td>
            <td>{{row.hora_inicio}}</td>
            <td>{{row.hora_termino}}</td>
            <td>{{row.tiempo_por_consulta_min}}</td>
            {% if row.estado == True %}
            <td>Habilitado </td>
            {% else %}
            <td>Deshabilitado</td>
            {% endif %}

            <td>
                <div class="d-flex">
                    <form action="{% url 'deshabilitarDisponibilidadTodos' row.disp_id %}" method="POST">
                        {% csrf_token %} 
                        <button id="estado" class="btn btn-danger" type="submit" >Deshabilitar</button> 
                    </form>
                </div>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contenido %}