{% extends "admin.html" %}


{% block contenido %}


{% load crispy_forms_tags %}
<div class="table">
  <div class="d-flex justify-content-center">
    <h1>Listado medicos</h1>
  </div>
    <div class="card-body d-flex justify-content-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarMedicoModal" hx-get="{% url "agregarMedico" %}" hx-target="#dialog">Agregar medico</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="table table-dark">
          <th scope="col">run</th>
          <th scope="col">Nombre</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Correo</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      
      <tbody>
        {% for row in data%}
        <tr class="table table-default">
          <td>{{row.run}}</td>
          <td>{{row.nombre}}</td>
          <td>{{row.especialidad.nom_esp}}</td>
          <td>{{row.correo}}</td>
          <td>
            <div class="d-flex">
              <form action="{% url "asignarDisponibilidad" row.run %}" method="POST">
                {% csrf_token %}
                <button id="estado" class="btn btn-primary me-2" type="submit" >Asignar</button>  
              </form>
              <form action="{% url "listadoDisMedico" row.run %}" method="POST">
                {% csrf_token %}
                <button id="estado" class="btn btn-primary me-2" type="submit" >Ver</button>  
              </form>
              <form action="" method="POST">
                {% csrf_token %} 
                <a class="btn btn-primary me-2" href="#">Editar</a>
              </form>
              <form action="{% url 'deshabilitarMedico' row.run %}" method="POST">
                {% csrf_token %} 
                <button id="estado" class="btn btn-danger" type="submit" >Deshabilitar</button> 
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Vertically centered modal -->
      <div class="modal fade" id="agregarMedicoModal" tabindex="-1" aria-labelledby="agregarMedicoModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarMedicoModalLabel">Agregar Medico</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div id="dialog" class="modal-body" hx-target="this">
                <!--Informacion conseguida de htmx-->
              </div>
            </div>
          </div>
        </div>
      </div>



      



</div>   
{% endblock contenido %}